header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-bottom: 1px solid var(--border-color);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  header a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    margin-right: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  header a:hover {
    color: var(--primary-color);
  }
  
  header a:last-child {
    margin-right: 0;
  }
  
  header .logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--primary-color);
  }
  
  header .logo:hover {
    color: var(--secondary-color);
  }
  
  header .menu {
    display: flex;
    align-items: center;
  }
  
  header .menu a {
    margin-right: 20px;
  }
  
  header .menu a:last-child {
    margin-right: 0;
  }
  
  header .menu a:hover {
    color: var(--secondary-color);
  }
  
  header .themeToggle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  header .themeToggle:hover {
    background-color: var(--primary-color);
    transform: scale(1.1);
  }
      